:root {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 14px;
      background-color: beige;
      margin: 50px;
}
h1 {
      font-size: 48px;
      padding: 0 50px;
      margin: auto;
      font-weight: 600;
}
a {
      padding: 10px;
      font-style: italic;
      
}
a:hover {
      color: blueviolet;
}
dl {
      margin: 50px;
      background-color: azure;
      border-radius: 20px;
}
.table {
      padding: 20px 10px;
}
dt,
dd {
      padding-bottom: 10px;
}
dd {
      
}
p {
      padding: 0 50px;
}